.notification{
    font-weight: bold;
    border: solid gray;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 20px;
    padding: 2px;
}

.notification.success{
    background-color: greenyellow;
}

.notification.error{
    background-color: red;
}