.tweet {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}

.tweet p {
    margin: 0;
}

.tweet img {
    width: 80px;
}

#tweets.hidden {
    display: none; 
}